<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Meetups</h2>
    </div>
  </div>
  <div class="row">
    <div *ngFor='let meetup of listmeetup' class="col-12 col-md-4">
      <div class="card">
        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">{{meetup.title}}</h4>
          <h5>{{meetup.date}}</h5>
          <!--Text-->
          <p class="card-text">{{meetup.subtitle}}</p>
          <a href="" class="btn btn-primary waves-light" mdbRippleRadius>Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
