<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light">
  <logo>
    <a class="navbar-brand" routerLink="">
      <img src="../../assets/img/everis.png" height="40" alt="everis-log">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/perfil" mdbRippleRadius>Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Cerrar sesión</a>
      </li>
    </ul>
  </links>
</mdb-navbar>


