<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 my-5">
      <h2>everis Virtual Assistant (eVA) por dentro</h2> <!-- evento.title -->
      <span>Valoración <app-rating></app-rating></span>
      <button style="background-color: #9BAE0C;" type="button" class="my-2 btn btn-primary waves-light" mdbRippleRadius>Asistiré</button>
    </div>
    <div class="col-12 col-md-6 my-5">
      <img class="img-fluid mx-auto d-block" src="../../assets/img/event.jpg" alt="event title">
      <!-- {{evento.src}} {{evento.title}} -->
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Fecha 21-12-2018</h4>
      <p><strong>San Isidro 951, Santiago</strong></p>
      <a href="#">Ver mapa</a>
    </div>
    <div class="col-6 text-right">
      <p>Organizador: Emilio Silva</p>
      <span>Valoración<app-rating></app-rating></span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="my-5">¿Está interesado en el futuro de los bots, la interfaz de usuario conversacional y cómo la inteligencia artificial (AI)
      está dando forma tanto a la comprensión del lenguaje natural como a la entrega de nuevos servicios atractivos? Ven a conocer
      a eVA (everis Virtual Agent), en donde mostraremos algunas de las posibilidades que estamos explorando para nuestros clientes
      mezclando algoritmos de lenguaje con tecnologías como AR, VR, interfaces de voz, integración con Alexa, Google Home.</p>
    </div>
  </div>
</div>
