<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Título</h2> <!-- evento.title -->
      <span>Valoración 4.5/5</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button style="background-color: #9BAE0C;" type="button" class="btn btn-primary waves-light" mdbRippleRadius>Asistiré</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img class="img-fluid mx-auto d-block" src="../../assets/img/event.jpg" alt="event title">
      <!-- {{evento.src}} {{evento.title}} -->
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Fecha 21-12-2018</p>
      <p>San Isidro 951, Santiago</p>
      <a href="#">Ver mapa</a>
    </div>
    <div class="col-6">
      <p>Organizador: Emilio Silva</p>
      <app-rating></app-rating>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p mt-3>Dreamcatcher Vice YOLO photo booth XOXO Cosby sweater meggings beard organic fixie vinyl quinoa Blue Bottle before they sold
      out iPhone kogi tofu sartorial cray blog biodiesel VHS paleo sustainable Brooklyn Intelligentsia pickled hashtag ugh disrupt
      tattooed PBR slow-carb Echo Park butcher Neutra viral Tumblr freegan mixtape try-hard lo-fi literally Schlitz tote bag Marfa
      mumblecore seitan next level salvia Helvetica tousled Banksy Bushwick gastropub
      Etsy Austin authentic Pinterest raw denim fanny pack pour-over church-key bicycle rights you probably haven't heard of them
      heirloom bespoke small batch PBR&B street art 8-bit master cleanse umami plaid fashion axe</p>
    </div>
  </div>
</div>
