<div style="background-color: white;" class="fixed-top cont">
  <div class="row">
    <div class="col-10 offset-1 text-center">  
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/everis.png" style="max-height: 8rem" class="d-inline-block align-center img-fluid my-3" alt=""> 
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 text-center">
          <button type="button" style="background-color: #9BAE0C;" class="btn btn-outline my-3" mdbRippleRadius>Ingresa</button>
        </div>
        <div class="col-6 text-center">
          <a routerLink="/sign-up">
            <button type="button" style="background-color: #9BAE0C;" class="btn btn-outline my-3" mdbRippleRadius>Regístrate</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
